<div class="containerLogIn">
    <div class="wrapper">
      <div class="logo">
          <img src="../../../assets/jovo.jpeg" alt="">
      </div>
      <div class="text-center mt-2 name">
          JOVO
      </div>
      <form class="p-3 mt-2">
          <div class="form-field d-flex align-items-center" [class]="classDefault(usernameError) ">
              <span class="far fa-user"></span>
              <input #username type="text" name="userName" id="userName" [placeholder]="placeholderDefault(usernameError,'Username')">
          </div>
          <div class="form-field d-flex align-items-center" [class]="classDefault(passwordError)">
              <span class="fas fa-key"></span>
              <input #password  type="password" name="password" id="pwd" [placeholder]="placeholderDefault(usernameError,'password')">
          </div>
          <button class="btn mt-3" (keyup.enter)="logIn(username.value,password.value)
          "(click)="logIn(username.value,password.value)">Login</button>
      </form>
      <div class="text-center fs-6" (click)="goToSignin()"> or<br> <a >Sign up</a>
      </div>
    </div>
  </div>
